#container {
    width: 100vw;
    height: 100vh;
    background-color: #34495e;

    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    color: #ecf0f1;

    padding: 15px;

    border: 1.5px solid #ecf0f1;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#username {
    background-color: transparent;
    color: #ecf0f1;

    height: 20px;
    border: 1.5px solid #ecf0f1;
    border-radius: 8px;

    padding: 5px 7px;
    font-size: 100%;

    outline: none;

    transition: border 200ms;
}

#username:focus {
    border: 1.5px solid #3498db;

    transition: border 200ms;
}

#username::placeholder {
    color: #bdc3c7;
}

#form button {
    cursor: pointer;
    margin-top: 10px;

    border: none;
    border-radius: 8px;
    outline: none;
    height: 30px;
    background-color: #ecf0f1;
    color: #34495e;
    font-weight: bold;
}