<div id="status-bar">
  
    <div id="buttons">
        <a href="#">Save</a>
        <a (click)="logOut()" href="">Logout</a>
    </div>
  
    <span id="playerName">{{ username }}</span> 
  
</div>  

<div id="container">

  <div id="weapon-list">
      <app-weapon-slot (weaponBought)="weaponBought($event)" *ngFor="let w of weapons" [weapon]="w" [gold]="gold" [playerDamage]="playerDamage" [playerAutoDamage]="playerAutoDamage"></app-weapon-slot>
  </div>

  <div id="game-screen">
    
    <div id="screen" [ngStyle]="{'background-image':currentBg}">
      
      <div id="stats">
        <span class="icon">
          <img src="assets/img/icon/coins.svg" alt="icon">
          <span>{{ gold }}</span>
        </span> 

        <span class="icon">
          <img src="assets/img/icon/sword.svg" alt="icon">
          <span>{{ playerDamage }}</span>
        </span> 
        
        <span class="icon">
          <img src="assets/img/icon/magic.svg" alt="icon">
          <span>{{ playerAutoDamage }}</span>
        </span>   
      </div>

      <app-monster id="monster" #monster 
        [playerDamage]="playerDamage" 
        [playerAutoDamage]="playerAutoDamage" 
        (zoneProgressUpdate)="updateZoneProgress($event)" 
        (zoneChange)="changeZoneBackground($event)" 
        (monsterDied)="monsterDied($event)"
        (monsterDamage)="addMonsterDamage($event)">
      </app-monster>

      <div id="zone-progress">

        <img class="icon-progress"  src="assets/img/icon/skull.svg" alt="">
        <span>{{ zoneProgress }}</span>
    
        <div id="zone-progress-bar">
            <div [style.width.%]="zoneProgressPercent" ></div>
        </div>
    
        <span *ngIf="limiter !== -1">{{ limiter }}</span>
        <img *ngIf="limiter !== -1" class="icon-progress"  src="assets/img/icon/skull.svg" alt="">
      </div>
    </div>

    <div id="logs">
      <div [innerHTML]="htmlGeneral" id="general-logs"></div>
      <div [innerHTML]="htmlDamage" id="damage-logs"></div>
    </div>

  </div>

</div>