#container {
    display: flex;

    background-color: #34495e;
}

#status-bar {
    width: 100%;
    height: 10vh;
    background-color: #2c3e50;    
    color: #ecf0f1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerName {
    font-size: 20px;
    margin-right: 20px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons a {
    margin-left: 30px;
    font-size: 30px;
    color: #ecf0f1;
    text-decoration: none;
}

#weapon-list {
    width: 30vw;
    height: 90vh;
    background-color: #34495e;
    color: #ecf0f1;
    overflow-y: scroll; 
}

#weapon-list::-webkit-scrollbar { 
    display: none; 
}

#game-screen {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#stats {
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#screen {
    height: 63vh;
    background-color: black;
    background-size: 100%;
    margin: 1vh;
    border-radius: 8px;
}

#monster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#stats {
    margin-top: 5px;
    color: #ecf0f1;
}

#logs {
    height: 21vh;
    background-color: #2c3e50;
    color: #ecf0f1;
    overflow-y: auto;
    padding: 1vh;
    margin: 1vh;

    border-radius: 8px;
}

#logs::-webkit-scrollbar { 
    display: none; 
}

.icon {
    margin: 3px;
     
    display: flex;
    align-items: center;
}

.icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}