#container {
    display: flex;

    background-color: #34495e;
}

#status-bar {
    width: 100%;
    height: 10vh;
    background-color: #2c3e50;    
    color: #ecf0f1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerName {
    font-size: 20px;
    margin-right: 20px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 30px;
    font-size: 30px;
    color: #ecf0f1;
    text-decoration: none;
}

#weapon-list {
    width: 30vw;
    height: 90vh;
    background-color: #34495e;
    color: #ecf0f1;
    overflow-y: scroll; 
}

#weapon-list::-webkit-scrollbar { 
    display: none; 
}

#game-screen {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#stats {
    padding-left: 10px;

    margin-top: 5px;
    color: #ecf0f1;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#screen {
    height: 63vh;
    background-color: black;
    background-size: 100%;
    margin: 1vh;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#monster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.icon {
    margin: 3px;
     
    display: flex;
    align-items: center;
}

.icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}


#zone-progress {
    width: 100%;

    margin: auto;
    
    color: #ecf0f1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#zone-progress * {
    margin: 0 2px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#zone-progress-bar {
    width: 75%;
    height: 10px;
    padding: 3px;

    border-radius: 20px;

    background-color: #2c3e50;
}

#zone-progress-bar div {
    height: 100%;
    background-image: linear-gradient(to left, #f39c12, #d35400);
    border-radius: 20px;

    transition: width 200ms;
}

.icon-progress {
    width: 16px;
    height: 16px;
}

#logs {
    height: 21vh;
    color: #ecf0f1;

    display: flex;
}

#general-logs, #damage-logs {
    background-color: #2c3e50;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 1vh;
    margin: 1vh;

    border-radius: 8px;
}

#general-logs::-webkit-scrollbar, #damage-logs::-webkit-scrollbar { 
    display: none; 
}