#health-bar {
    width: 200px;
    height: 25px;
    background-color: #2c3e50;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 3px;
}

#health-bar div {
    height: 100%;
    background-color: #e74c3c;
    border-radius: 20px;

    transition: width 200ms;
}

.monster {
    width: 200px;
    height: 150px;

    opacity: 1;

    margin: auto;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.monster:active {
    animation: blink 300ms;
}

.monster-name {
    color: #ecf0f1;
}

#zone-progress {
    width: 100%;

    margin: auto;
    margin-top: 24vh;
    
    color: #ecf0f1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#zone-progress * {
    margin: 0 2px;
}

#zone-progress-bar {
    width: 75%;
    height: 10px;
    padding: 3px;

    

    border-radius: 20px;

    background-color: #2c3e50;
}

#zone-progress-bar div {
    height: 100%;
    background-image: linear-gradient(to left, #f39c12, #d35400);
    border-radius: 20px;

    transition: width 200ms;
}

.icon {
    width: 16px;
    height: 16px;
}