<span class="monster-name">{{ currentMonster.name ? currentMonster.name : '...' }}</span> 
<div id="health-bar">
  <div [style.width.%]="hpPercent"></div>
</div>

<img (click)="clickedMonster()" class="monster" src="{{ currentMonster.src }}" alt="Monster">

<div id="zone-progress">

    <img class="icon"  src="assets/img/icon/skull.svg" alt="">
    <span>{{ zoneProgress }}</span>

    <div id="zone-progress-bar">
        <div [style.width.%]="zoneProgressPercent" ></div>
    </div>

    <span>{{ currentZone.limiter }}</span>
    <img class="icon"  src="assets/img/icon/skull.svg" alt="">
</div>